<!doctype html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <h2 class="inputInstruction">Password Reset</h2>
        <form class="front" method="POST" action="/forgot-password/">
            <div class="SubForm">
                <div class="input">
                    <input type="reset_code" class="form-control" id="reset_code" name="reset_code" placeholder="Reset Code" required>
                </div>
            </div>
            <button type="submit" class="regSubmission">Submit Reset Code</button>
        </form>
        {% if error %}
            <div class="error" role="alert">
                Email not found!
            </div>
        {% endif %}
        {% if success %}
            <div class="success" role="alert">
                Email Found!
            </div>
        {% endif %}

        <div class="AlternateActions">
            <a href="{{ url_for('index') }}">Go Back to Login</a>
        </div>
    </div>
</body>
