<!doctype html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <title>Login Page</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2 class="inputInstruction">Login</h2>
        <form method="POST" action="/login">
            <div class="input">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="input">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="fullWidthSubmission">Login</button>
        </form>
        <div class="AlternateActions">
            <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            <a href="{{ url_for('register') }}">Don't have an account? Register</a>
        </div>
    </div>
</body>