<!doctype html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <h2 class="inputInstruction">Password Reset</h2>
        <form class="front" method="POST" action="{{ url_for('resetPassword') }}">
            <div class="SubForm">
                <div class="input">
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="reset_code" value="{{ reset_code }}">
                    <input type="password" class="form-control" id="password" name="password" placeholder="New Password" required>
                </div>
            </div>
            <button type="submit" class="regSubmission">Submit new Password</button>
        </form>
        {% if error %}
            <div class="error" role="alert">
                Password reset failed. Please try again.
            </div>
        {% endif %}
        {% if success %}
            <div class="success" role="alert">
                Password Reset!
            </div>
        {% endif %}

        <div class="AlternateActions">
            <a href="{{ url_for('index') }}">Go Back to Login</a>
        </div>
    </div>
</body>
