<!doctype html>
<html lang="en">
<head>  
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="DashboardHeader">
            <h1>Welcome to your Dashboard, {{ username }}</h1>
            {% if favoriteColor == None %}
                <p> User has no Favorite Color :(</p>
            {% else %}
                <p> Users favorite Color is {{ favoriteColor }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
<script>
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
</script>